.loader__stories-page,
.loader__story-page {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__stories-page {
  height: calc(100vh - 344px);
}

.loader__story-page {
  height: calc(100vh - 538px);
}

.loader__img {
  position: absolute;
  height: 75px;
  width: 75px;
  background: url(../../images/loader.gif) center / contain no-repeat;
}
